<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div>
                <label for="memo-title">Title</label>
                <input type="text" class="form-control" name="memo-title" id="memo-title" #title="ngModel" ngModel
                    required>
                <span class="help-block" *ngIf="!title.valid && title.touched">
                    Title is required.</span>
            </div>

            <div>
                <label for="memo-content">Content</label>
                <textarea class="form-control" name="memo-content" id="memo-content" #memoContent="ngModel" ngModel
                    rows="5"
                    required></textarea>
                <span class="help-block" *ngIf="!memoContent.valid && memoContent.touched">
                    Content is required.</span>
            </div>

            <br>

            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>